//Database connection configuration
MYSQL_HOST=your_mysql_host_here
MYSQL_PORT=your_mysql_port_here
MYSQL_USER=your_mysql_user_here
MYSQL_PASSWORD=your_mysql_password_here
MYSQL_DATABASE=your_database_name_here
MYSQL_SSL=true
MYSQL_SSL_CA=path_to_ca_certificate_here
MYSQL_SSL_REJECT_UNAUTHORIZED=false

//Server configuration
PORT=your_server_port_here
DOMAIN=your_server_domain_here
JWT_SECRET='your_jwt_secret_key_here'
NODE_ENV=development
ADMIN_EMAILS="your_admin_email_here"
FRONTEND_URL=your_frontend_url_here

//Spotify API configuration
SPOTIFY_CLIENT_ID='your_spotify_client_id_here'
SPOTIFY_CLIENT_SECRET='your_spotify_client_secret_here'